<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of customers</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.30/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v.5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="container">
    <header>
        <div class="col-lg-6">
            <h1>List of customers</h1>
        </div>
        <div class="col-lg-6 header-right-button">
            <a href="#">
                <button class="btn btn-outline-light">
                    <i class="fas fa-history"></i>
                    Transfer histories
                </button>
            </a>
            <a href="/customers/create">
                <button class="btn btn-outline-light">
                    <i class="fas fa-user-plus"></i>
                    Add new customer
                </button>
            </a>
        </div>
    </header>

    <div class="content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Balance</th>
                <th colspan="4">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${customers}">
                <tr>
                    <td th:text="${item.id}" class="text-center"></td>
                    <td th:text="${item.fullName}"></td>
                    <td th:text="${item.email}" class="text-center"></td>
                    <td th:text="${item.phone}" class="text-center"></td>
                    <td th:text="${item.address}"></td>
                    <td th:text="${item.balance}" class="text-end num-space"></td>
                    <td>
                        <a title="Edit" th:href="@{/customers/edit/{id}(id=${item.id})}">
                            <button class="btn btn-outline-secondary">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a title="Deposit" th:href="@{/customers/deposit/__${item.id}__}">
                            <button class="btn btn-outline-success">
                                <i class="fas fa-plus"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a title="Withdraw" th:href="@{/customers/withdraw/{id}(id=${item.id})}">
                            <button class="btn btn-outline-success">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a title="Transfer" th:href="@{/customers/transfer/{id}(id=${item.id})}">
                            <button class="btn btn-outline-warning">
                                <i class="fas fa-exchange-alt"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a title="delete"  th:href="@{/customers/delete/{id}(id=${item.id})}">
                            <button class="btn btn-outline-danger">
                                <i class="fas fa-ban"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<th:block th:replace="layout/script" />
</body>
</html>