<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Withdraw</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.30/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v.5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<div class="container">
    <header>
        <div class="col-lg-6">
            <h1>With Draw</h1>
        </div>
        <div class="col-lg-6 header-right-button">
            <a href="/customers">
                <button class="btn btn-outline-light">
                    <i class="fas fa-bars"></i>
                    List Customers
                </button>
            </a>
        </div>
    </header>
    <div>
        <form method="post"  th:object="${withdraw}">
            <div class="row mt-3">

                <div class="mb-3 float-left col-lg-3 col-sm-12 col-md-6">
                    <label  class="form-label">Customer ID</label>
                    <input type="number" class="form-control" name="idCustomer"
                           th:value="${withdraw.getCustomer().id}" readonly
                    >
                </div>
                <div class="mb-3 float-left col-lg-3 col-sm-12 col-md-6">
                    <label for="senderName" class="form-label">Customer Name</label>
                    <input type="text" class="form-control" id="senderName"
                           th:value="${withdraw.getCustomer().fullName}" readonly
                    >
                </div>
                <div class="mb-3 float-left col-lg-3 col-sm-12 col-md-6">
                    <label for="email" class="form-label">Customer Email</label>
                    <input type="email" class="form-control" id="email"
                           th:value="${withdraw.getCustomer().email}" readonly
                    >
                </div>
                <div class="mb-3 float-left col-lg-3 col-sm-12 col-md-6">
                    <label for="balance" class="form-label">Customer Balance</label>
                    <input type="number" class="form-control" id="balance"
                           th:value="${withdraw.getCustomer().balance}" readonly
                    >
                </div>
            </div>
            <div class="row mt-3">
                <div class="mb-3 float-left col-lg-3 col-sm-12 col-md-6">
                    <label for="withdraw" class="form-label">Withdraw Amount (VND)</label>
                    <input type="number" class="form-control" id="withdraw" name="transactionAmount" >
                </div>
            </div>
            <button type="submit" class="btn btn-outline-warning">
                <i class="fas fa-exchange-alt"></i>
                Withdraw
            </button>
        </form>
    </div>
</div>
<footer>
    <th:block th:if="${hasError == true || error == true}">
        <div class="alert alert-danger">
            <div class="container">
                <div class="error-area">
                    <th:block th:if="${error == true}">
                        <div class="error">
                            <ul class="container">
                                <li th:text="${messages}"></li>
                            </ul>
                        </div>
                    </th:block>

                    <th:block th:if="${hasError == true}">
                        <div class="error">
                            <ul class="container">
                                <li th:each="err : ${#fields.errors('withdraw.*')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:if="${success == true}">
        <div class="alert alert-success">
            <div class="success">
                <ul class="container">
                    <li th:text="${messages}"></li>
                </ul>
            </div>
        </div>
    </th:block>

</footer>

</body>

</html>
